.field {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: grid;
    border-top: 1rem solid darkslategray;
    border-bottom: 1rem solid darkslategray;
}

.gameName, .rules {
    text-align: center;
}

.rules {
    margin-top: 1rem;
    color: gray;
}

.header {
    font-weight: bold;
}

.gameOver_head, .gameName {
    font-weight: bold;
    font-size: 2rem;
    color: darkslategray;
}

.gameOver {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}

* {
    font-family: "Bookman Old Style", cursive;
}

.snake {
    background-color: green;
}

.food {
    background-color: red;
}

.obstacle {
    background-color: gray;
}

.cell, .snake, .food, .obstacle {
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
}