

/* TODO :: style */

.shit {
}

.snake {
    background-color: green;
}

.food {
    background-color: red;
}

.obstacle {
    background-color: gray;
}

.cell, .snake, .food, .obstacle {
    border: 1px solid gray;
    padding:  1rem;
}

.cell {
}